{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<head>
    <title>Characters</title>
</head>

<body>

    <div class="flex-container-center">
        <h1>MARVEL Characters:</h1>
        <br>

      <table>
        <thead>
          <tr class="table-primary" style="background:#900000">
            <th scope="col">image</th>
<!--            <th scope="col">id</th>-->
            <th scope="col">name</th>
            <th scope="col" style="width: 500px; height:30px;">description</th>

          </tr>
        </thead>
        <tbody>

        {% for character in characters %}
        <tr class="table-secondary">
          <td>
            <img
              src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
              alt="{{ character.name }}"
              style="width:100px; height:auto; border-radius:8px;"
            />
          </td>
<!--          <td>{{character.id}}</td>-->
          <td  style="padding-left:10px">{{character.name|upper}}</td>
          <td>{{character.description | default:"Unavailable" }}</td>

        </tr>

        {% endfor %}
        </tbody>
      </table>


     <!-- Pagination -->
      {% if total_pages > 1 %}
      <div class="pagination" style="margin-top: 30px;">
          <!-- "Previous" arrow -->
          {% if page > 1 %}
            <a href="?page=1" class="pagination-arrow">« First</a>
            <a href="?page={{ page|add:-1 }}" class="pagination-arrow">← Previous</a>
          {% endif %}

          <!-- Page numbers -->
          <span>Página {{ page }} de {{ total_pages }} </span>
          <div class="pagination-numbers">
            {% for i in page_range %}
              {% if i == page %}
                <span class="current-page">{{ i }}</span>
              {% else %}
                <a href="?page={{ i }}" class="pagination-number">{{ i }}</a>
              {% endif %}
            {% endfor %}
          </div>

          <!-- "Next" arrow -->
          {% if page < total_pages %}
            <a href="?page={{ page|add:1 }}" class="pagination-arrow">→ Next</a>
            <a href="?page={{ total_pages }}" class="pagination-arrow">Last »</a>
          {% endif %}
      </div>
      {% endif %}

    <a href="{% url 'home' %}" class="home-button">Volver</a>
    </div>
</body>

{% endblock content %}
