{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<head>
    <title>{{ comic.title }}</title>
</head>

<body>
<!--    <pre>{{ comic|safe|pprint }}</pre>-->
    <div class="flex-container-center">
        {% if comic %}
            <h2>{{ comic.title|upper }}</h2>

            {% if comic.thumbnail %}
                <img src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" alt="{{ comic.title }}" />
            {% endif %}

            <p style="margin-top:30px;">{{ comic.description|default:"Description: Unavailable" }}</p>

            <div class="character_items_lists_button">Comic info:</div>
            <ul>

                <li><p><strong>ISBN:</strong> {{ comic.isbn|default:"-" }}</p></li>
                <li><p><strong>UPC:</strong> {{ comic.upc|default:"-" }}</p></li>
                <li><p><strong>EAN:</strong> {{ comic.ean|default:"-" }}</p></li>
                <li><p><strong>ISSN:</strong> {{ comic.issn|default:"-" }}</p></li>
                <li><p><strong>Pages:</strong> {{ comic.pageCount }}</p></li>
            </ul>

            <div class="character_items_lists_button">Series:</div>
            <ul>
                <li><p>{{ comic.series.name }}</p></li>
            </ul>

            <div class="character_items_lists_button">Variants:<small style="margin-left:10px">({{ comics.variants.available }})</small></div>
            {% if comic.variants %}
                <ul>
                    {% for variant in comic.variants %}
                        <li>{{ variant.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No variants available.</p>
            {% endif %}

            <div class="character_items_lists_button">Creators:<small style="margin-left:10px">({{ comics.creators.available }})</small></div>
            {% if comic.creators.items %}
                <ul>
                    {% for creator in comic.creators.items %}
                        <li>{{ creator.name }} ({{ creator.role }})</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No creators listed.</p>
            {% endif %}


            <div class="character_items_lists_button">Stories:<small style="margin-left:10px">({{ comics.stories.available }})</small></div>
            {% if comic.stories.items %}
                <ul>
                    {% for story in comic.stories.items %}
                        <li>{{ story.name }} ({{ story.type }})</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No stories available.</p>
            {% endif %}

            <div class="character_items_lists_button">Characters:<small style="margin-left:10px">({{ comics.characters.available }})</small></div>
            {% if comic.characters.items %}
                <ul>
                    {% for character in comic.characters.items %}
                        <li>{{ character.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No characters founded.</p>
            {% endif %}

            <div class="character_items_lists_button">Events:<small style="margin-left:10px">({{ comics.events.available }})</small></div>
            {% if comic.events.items %}
                <ul>
                    {% for event in comic.events.items %}
                        <li>{{ event.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No events founded.</p>
            {% endif %}

            <h2>External Links:</h2>
            {% if comic.urls %}
                <div style="flex-direction:row; margin-top:20px; margin-bottom:50px;">
                    {% for url in comic.urls %}
                        <a href="{{ url.url }}" class="home-button" target="_blank" rel="noopener noreferrer">{{ url.type }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p>No links available.</p>
            {% endif %}

        {% else %}
            <p>No comic details found.</p>
        {% endif %}

        <a href="{% url 'comics' %}" class="back-button">Back to list</a>
    </div>
</body>
{% endblock content %}