{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<head>
    <title>Nombre comic</title>
</head>

<body>
    <div class="flex-container-center">
        {% if comic %}
            <h2>{{ comic.title|upper }}</h2>
            <img src="{{ comic.thumbnail }}" alt="{{ comic.title }}" />
            <p>Description: {{ comic.description|default:"Unavailable" }}</p>
            <p>Isbn: {{ comic.isbn|default:"-" }}</p>
            <p>Ean: {{ comic.ean|default:"-" }}</p>
            <p>Issn: {{ comic.issn|default:"-" }}</p>
            <p>Pages: {{ comic.pageCount }}</p>

            <h3>Links:</h3>
            <ul>
                {% for url in comic.urls %}
                    <li><a href="{{ url.url }}" target="_blank">{{ url.type }}</a></li>
                {% endfor %}
            </ul>

            <p>Series: {{ comic.series.name }}</p>

            {% if comic.variants %}
                <h3>Variants:</h3>
                <ul>
                    {% for variant in comic.variants %}
                        <li>{{ variant.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No variants available.</p>
            {% endif %}

            <p>Collections: {{ comic.collections }}</p>
            <p>Characters: {{ comic.characters }}</p>

            <h3>Stories:</h3>
            <ul>
                {% for story in comic.stories.items %}
                    <li>{{ story.name }} ({{ story.type }})</li>
                {% endfor %}
            </ul>

            <p>Events: {{ comic.events }}</p>
        {% else %}
            <p>No comic details found.</p>
        {% endif %}
    </div>
</body>
{% endblock content %}