{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ creator.fullName }}</title>
</head>
<body>
<!--    <pre>{{ creator|safe|pprint }}</pre>-->
    <div class="flex-container-center">
        <h2>{{ creator.fullName|upper }}</h2>
        {% if creator.thumbnail %}
            <img src="{{ creator.thumbnail.path }}.{{ creator.thumbnail.extension }}" alt="{{ creator.fullName }}" />
        {% endif %}

        <div class="character_items_lists_button">Comics:<small style="margin-left:10px">({{ creator.comics.available }})</small></div>
            {% if creator.comics %}
                <ul>
                    {% for comic in creator.comics.items %}
                        <li>{{ comic.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No comics available.</p>
            {% endif %}

        <a href="{% url 'creators' %}" class="back-button">Back to list</a>

    </div>
</body>
{% endblock content %}